/*!
* Bootstrap-submenu v1.2.7 (http://vsn4ik.github.io/bootstrap-submenu)
* Copyright 2014 Vasily A. (https://github.com/vsn4ik)
* Licensed under MIT (https://github.com/vsn4ik/bootstrap-submenu/blob/master/LICENSE)
*/
.dropdown-submenu > a:after {
content: "";
float: right;
margin-right: -10px;
}
@media (min-width: 768px) {
.dropdown-submenu {
position: relative;
}
.dropdown-submenu > a:after {
margin-top: 6px;
border-left: 4px dashed;
border-top: 4px solid transparent;
border-bottom: 4px solid transparent;
}
.dropdown-submenu .dropdown-menu {
top: 0;
left: 100%;
margin-top: -6px;
border-top-left-radius: 0;
}
.dropup .dropdown-submenu .dropdown-menu,
.navbar-fixed-bottom .dropdown-submenu .dropdown-menu {
top: auto;
bottom: 0;
margin-top: 0px;
margin-bottom: -6px;
border-top-left-radius: 4px;
border-bottom-left-radius: 0;
}
}
@media (max-width: 767px) {
.dropdown-submenu > a:after {
margin-top: 8px;
border-top: 4px dashed;
border-left: 4px solid transparent;
border-right: 4px solid transparent;
}
.dropdown-submenu .dropdown-menu {
position: static;
margin-top: 0;
border: 0;
box-shadow: none;
}
.dropdown > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li.dropdown-header,
.btn-group > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li.dropdown-header,
.dropdown > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > a,
.btn-group > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > a {
padding-left: 30px;
}
.dropdown > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > .dropdown-menu > li.dropdown-header,
.btn-group > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > .dropdown-menu > li.dropdown-header,
.dropdown > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > .dropdown-menu > li > a,
.btn-group > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > .dropdown-menu > li > a {
padding-left: 40px;
}
.dropdown > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu > li.dropdown-header,
.btn-group > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu > li.dropdown-header,
.dropdown > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu > li > a,
.btn-group > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu > li > a {
padding-left: 50px;
}
.dropdown > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu > li.dropdown-header,
.btn-group > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu > li.dropdown-header,
.dropdown > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu > li > a,
.btn-group > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu > li > a {
padding-left: 60px;
}
.navbar-nav > .dropdown > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li.dropdown-header,
.navbar-nav > .dropdown > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > a {
padding-left: 35px;
}
.navbar-nav > .dropdown > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > .dropdown-menu > li.dropdown-header,
.navbar-nav > .dropdown > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > .dropdown-menu > li > a {
padding-left: 45px;
}
.navbar-nav > .dropdown > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu > li.dropdown-header,
.navbar-nav > .dropdown > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu > li > a {
padding-left: 55px;
}
.navbar-nav > .dropdown > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu > li.dropdown-header,
.navbar-nav > .dropdown > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu > li > .dropdown-menu > li > a {
padding-left: 65px;
}
}
/*# sourceMappingURL=bootstrap-submenu.css.map */