

html,body {
  font-family: 'Lato',sans-serif;
	height:100%;
    background:center no-repeat fixed url('../assets/bg_suburb.jpg');
    background-size: cover;
}

.icon-bar {
	background-color:#fff;
}

.navbar-trans , .dropdown-menu{
	background-color:#279ddd;
    color:#fff;
}

.navbar-trans li>a:hover,
.navbar-trans li>a:focus,
.navbar-trans li.active  {
	background-color:#38afef;
}

.navbar-trans a{
    color:#fefefe;
}

.navbar-trans .form-control:focus {
	border-color: #eee;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
}

section {
	padding-top:70px;  
    padding-bottom:50px; 
    min-height:calc(100% - 1px);
}

.v-center {
    padding-top:10%;
    font-size:70px;
}
  
.well {
	border-color:transparent;
}

a.list-group-item.active,[class*='-info'] {
	background-color: #168ccc;
    color:#fff;
}
  
#about-us {
	background-color: #168ccc;
    color:#dedeff;
}
  
#home {
	background-color: #168ccc;
    color:#686868;
}
  
#section3 {
	background-color: #168ccc;
    color:#ddd;
}

#section4 {
	background-color: #fff;
    color:#444;
}

#section5,#section7,#section7 a {
    color:#f5f5f5;
}

#section6 {
	background-color: #fff;
    color:#444;
}
#product-section, #shelves, #systems{
  background-color: #fff;
    color:#444;
}
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}

footer {
	background-color:#494949;
    color:#ddd;
    min-height:100px;
    padding-top:20px;
    padding-bottom:40px;
}

footer .nav>li>a {
    padding:3px;
    color:#ccc;
}

footer .nav>li>a:hover {
    background-color:transparent;
	color:#fff;
}
/* ---------------------------------------- kim */
.nav li{
    padding-right: 5px;
    padding-left: 5px;
    padding-top:5px;
    padding-bottom:5px;
} 
.navbar {
    padding: 2px;
}
#logo{
    font-size: 9px;
}

.shadow-10{
   box-shadow: 0 0 10px gray;
}
/* ---------------------------------------- kim */
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* 
Carousel base class
.carousel {
  width: 100%;
  height: 100%;
}
Since positioning the image, we need to help out the caption
.carousel-caption {
  z-index: 10;
}

Declare heights because of positioning of img element
.carousel .item {
  height: 720px;
}

.carousel .fa{
  margin-top:200px;
}
RESPONSIVE CSS
 */

.carousel .fa{
  margin-top:200px;
}
 .carousel-caption
  { 
    z-index:10;
  }
  .carousel-inner > .item > img
  {
    position : absolute; 
    left: 0;
    min-width: 100%;
    height: auto; 
  }
  .carousel-inner > .item
  { 
    height: 720px;
  }



.tpad-10-minus{
  padding-top:5%;
    margin-top: -5%;
    font-size: 70px;
}

.icon-square{
  width: 70px;
  height: 70px;
  
  color: #34495e;
}
.icon-circle {
    width: 220px;
    height: 220px;
   background-color: #168ccc;
   color: #fff;
}
.icon-circle2 {
    width: 220px;
    height: 220px;
   background-color: #16a085;
   color: #fff;
}
.icon-circle-base {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}
.big-icon {
    font-size: 180px;
}
.small-icon{
  font-size:60px;
}
.l-margin-20{
  margin-left:20px;
}
  @media only screen and (min-width:768px) {
  .carousel-inner > .item
  {
    height: 700px;
  }
   .carousel .fa{
     margin-top:350px;
  }
}
@media only screen and (min-width:1200) {
  .carousel-inner > .item
  {
    height: 1080px;
  }
    .carousel .fa{
     margin-top:540px;
  }
}



#line-menu{
    height: 3px;
    width: 100px;
    position:absolute;
    z-index:50;
    background: #000;


    padding-right:3px;
}
#line-menu-container{
    text-align: center;
    min-width: 617px;
    max-width: 1113px;
    margin-left: auto;
    margin-right: auto;
}
.line{
    height: 3px;
    background: #5dbaf6;
}

 .dropdown-menu{
  padding:0;
 }
.dropdown-menu li a{
  padding:10px;
  color : #fff;
 } 
 .dropdown-menu li>a:hover{
    color:#fff;
 }


 .readmore{
    margin-top:10px;
    font-size:12px;
 }